{% extends 'base.html.twig' %}

{% block title %}Article {{ ad.title }}{% endblock %}

{% block body %}
    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}&euro;</strong> par nuit
            </p>
            <button type="button" class="btn btn-primary">Réserver</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-justify">
                {{ ad.content|raw }}
                <div id="adCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#adCarousel"
                                data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images  %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.url }}" alt="{{ image.caption }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#adCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#adCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="Avatar bailleur">
                    </div>
                    <div class="col">
                        <h3>Joseph Dupond</h3>
                        <span class="badge badge-primary">3 annonces</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dignissimos inventore ipsum iure odit
                    possimu quis repudiandae temporibus totam veritatis.</p>
                <p>A adipisci, amet assumenda cumque deleniti iure natus nemo porro provident quae quaerat repellendus
                    similique sit ut veritatis vitae voluptatem.</p>
                <p>Adipisci animi, asperiores assumenda dignissimos earum explicabo facere fuga fugiat, fugit, in maxime
                    natus nihil quis rem sequi suscipit ut?</p>
            </div>
        </div>
    </div>
{% endblock %}
